#button {
        width: 50px;
        height: 50px;
        margin: 20px;
}

.page-toggle {
        margin: 20px;
        text-align: center;
}

a {
        color: #FFFFFF;
   text-decoration: none;
}
.pad {
  padding-top: 20%;
  margin-left: 20%;
}
#power {
  font-size: 8em;
}
